.thenvsnow {
    width: 100%;
    max-height: 360px;
    border-radius: 18px;
    object-fit: cover;
    object-position: top;
}

.oldrvsnewr {
    width: 100%;
    max-height: 280px;
    border-radius: 18px;
    object-fit: cover;
    object-position: top;
}

.interior {
    width: 100%;
    max-height: 280px;
    border-radius: 18px;
    object-fit: cover;
    object-position: top;
}

.brands {
    width: 100%;
    max-height: 280px;
    border-radius: 18px;
    object-fit: cover;
    object-position: top;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}